        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body, html {
            height: 100%;
            width: 100%;
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1a1c23; 
            margin: 0;
        }

        .chat-container {
            background: #2b2d42; 
            width: 90%;
            height: 90%;
            max-width: 800px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .chat-header {
            background: #1c69b2; 
            color: #ffffff;
            text-align: center;
            height: 64px;
            line-height: 64px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .wheel {
            justify-content: flex-end;
            background: transparent; 
            position: absolute;
            display: flex;
            height: 64px;
            width: 90%;
            max-width: 800px;
            z-index: 1;
        }

        #chatbox {
            flex: 1;
            padding: 15px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            background-color: #2b2b2b; 
            color: #e0e0e0;
        }
    
        .spacer {
            background-color: #2b2b2b; 
            color: #e0e0e0;
        }

        .userText, .botText {
            max-width: 80%;
            margin-bottom: 10px;
            line-height: 1.5;
            font-size: 0.9rem;
            word-wrap: break-word;
        }
    
        .userText {
            align-self: flex-end;
        }
    
        .userText span {
            background-color: #5a5a5a; 
            color: #ffffff;
            padding: 10px;
            border-radius: 20px;
            display: inline-block;
        }
    
        .botText {
            align-self: flex-start;
        }
    
        .botText span {
            background-color: #1c69b2; 
            color: #ffffff;
            padding: 10px;
            border-radius: 20px;
            display: inline-block;
        }

        .botTextReset span {
            background-color: #7a2823; 
            color: #ffffff;
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
        }

        .input-container {
            display: flex;
            padding: 10px;
            background: #3a3a3a; 
            border-top: 1px solid #555555; 
        }
    
        #textInput {
            flex: 1;
            border: 1px solid #888888; 
            border-radius: 20px;
            padding: 10px;
            font-size: 1rem;
            outline: none;
            margin-right: 10px;
            margin-left: 10px;
            background-color: #4a4a4a; 
            color: #e0e0e0;
        }
    
        #textInput:focus {
            border-color: #1c69b2; 
            box-shadow: 0 0 5px rgba(51, 147, 240, 0.5); 
        }
    
        .sendButton {
            background: #1c69b2; 
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 1rem;
        }
    
        .resetButton {
            background: #7a2823; 
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1rem;
        }

        .sendButton:hover {
            background: #3c89d2; 
        }

        .resetButton:hover {
            background: #9a4843; 
        }

        button:disabled {
            background-color: #888888; 
            cursor: not-allowed;
            opacity: 0.6;
        }

        #chatbox::-webkit-scrollbar {
            width: 5px;
        }
    
        #chatbox::-webkit-scrollbar-thumb {
            background: #888888; 
            border-radius: 10px;
        }
    
        #chatbox::-webkit-scrollbar-thumb:hover {
            background: #aaaaaa; 
        }
    
