<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hector</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css')}}">    
</head>

<body>
    <div class="chat-container">

        <div class="chat-header">Hector</div>
        <div id="idle" class="wheel">
            <img id=hamster width="64px" height="64px" src="{{url_for('static', filename='idle.gif')}}" />
        </div>
        <div id="running" class="wheel" style="display: none">
            <img id=hamster width="64px" height="64px" src="{{url_for('static', filename='running.gif')}}" />
        </div>

        <div class="spacer">&nbsp</div>

        <div id="chatbox">
            <p class="botText">
                <span>How may I help you today?</span>
            </p>
        </div>

        <div class="spacer">&nbsp</div>

        <div class="input-container">
            <input id="textInput" type="text" placeholder="Type your message here..." />
            <button id=sendButton onclick="getBotResponse() ">Send</button>
        </div>

    
    </div>

</body>
</html>
